$mobile-width: 579px;
$sm-tablet-width: 760px;
$tablet-width: 920px;
$desktop-width: 1440px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin sm-tablet {
    @media (max-width: #{$sm-tablet-width}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin sm-tablet-desktop {
    @media (min-width: calc(#{$mobile-width} + 1px)) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: calc(#{$sm-tablet-width} + 1px)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: calc(#{$tablet-width} + 1px)) {
        @content;
    }
}
