@import 'src/global/styles/theme.scss';
@import 'src/global/styles/query.scss';

.office {
    & > p {
        margin-bottom: 50px;
    }
}

.notes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,  240px);
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    justify-content: center;
    @include sm-tablet {
        grid-column-gap: 50px;
    }
}

.note-preview {
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // font-weight: 900;
    font-family: 'Airbnb Cereal App Book';
}

.time {
    display: flex;
    justify-content: space-between;
    color: $n3-black;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        border: .5px solid #00000020;
        top: 160px;
        margin: 0 -15px;
    }
    p:first-of-type {
        margin-bottom: 10px;
    }
    i {
        right: 0;
        bottom: -10px;
        color: $accent-black;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > i{
        cursor: pointer;
    }
}

.sort-search {
    display: inline-flex;
    @include tablet {
        flex-direction: column;
        align-items: flex-end;
        .search {
            margin-bottom: 10px;
        }
        transform: translateY(30%);
        border: 1px solid rgba(189, 189, 189, 0.5);
        border-radius: 4px;
        padding: 10px;
    }
    .search {
        @include desktop {
            margin-right: 80px;
        }
    }
}
