@import 'src/global/styles/query.scss';

.workspace {
    display: grid;
    grid-template-columns: 300px 1fr;
    @include tablet {
        grid-template-columns: 250px 1fr;
    }
    @include sm-tablet {
        grid-template-columns: 1fr;
        header {
            justify-content: flex-end;
        }
        header > p{
            display: none
        }
    }
    @include mobile {
        header {
            justify-content: center;
        }
    }
}

aside {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background: var(--n3-green);
    padding: 40px 0;
    color: #fff;
    z-index: 10;
    @include sm-tablet {
        display: none;
    }
    hr {
        margin-left: 40px;
        margin-right: 40px;
    }
    ul {
        padding: 0;
        font-weight: 400;
    }
    li {
        position: relative;
        list-style: none;
        text-align: left;
        padding: 5px 40px;
        margin-bottom: 5px;
        font-weight: 900;
        cursor: pointer;
        &:hover {
            background: #00000020;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 95%;
                border: 1px solid white;
            }
        }

        i {
            font-size: 14px;
            margin-left: 12px;
        }

        a {
            display: inline-block;
            width: 100%;
            color: inherit;
        }
    }

    #actions {
        margin-left: 10px;
        & > i {
            color: white !important;
        }
        > :nth-child(2) {
            right: 0;
            > * {
                color: var(--secondary-color);
            }
        }
    }
}

html[data-theme='dark'] #actions  > :nth-child(2){
    > * {
        color: var(--primary-color);
    }
}

.content {
    padding: 40px 40px;
    @include mobile {
        padding: 40px 40px;
    }
}

.profile {
    display: flex;
    padding: 0 40px;
    align-items: center;
    & > :first-child {
        margin-right: 15px;
    }
}

.search {
    width: 250px;
    @include tablet {
        width: 200px;
    }
}

#workspace-profile {
    width: 35px;
    height: 35px;
}

#color-white {
    color: white;
}

.main {
    @include tablet-desktop {
        position: relative;
    }
    header {
        padding: 0 40px !important;
        margin-bottom: 20px;
        // justify-content: flex-end !important;
    }
}

.sort {
    display: inline-flex;
    align-items: center;
    & > :first-child {
        margin-right: 10px;
    }
}

#workspace-header {
    position: sticky;
    top: 0;
    display: none;
    background: var(--n3-green);
    place-items: center;
    height: 60px;
    z-index: 100;
    .App-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #workspace-menu {
        color: white;
        font-size: 32px;
        position: absolute;
        left: 30px;
        cursor: pointer;
    }
    @include sm-tablet {
        display: grid;
    }
}