@import 'src/global/styles/theme.scss';
@import 'src/global/styles/query.scss';

.profile-card {
    position: relative;
    padding: 60px 40px 30px;
    & > form {
        button {
            position: relative;
            width: inherit;
            left: 50%;
            transform: translateX(-50%);
            @include mobile {
                width: 100%;
            }
        }
    }
    @include sm-tablet {
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        border: 0.7px solid rgba(189, 189, 189, 0.5);
        top: -28px;
        left: 0;
    }
}

.sub-links {
    position: relative;
    margin: 30px 0;
}

.section-link {
    color: $accent-black;
    position: relative;
    margin-right: 20px;
    opacity: 0.7;
    &.active {
        color: $n3-green;
        &::after {
            content: '';
            width: 95%;
            position: absolute;
            left: 0;
            bottom: -3px;
            border: 1.5px solid $n3-green;
            z-index: 10;
        }

    }
}

.input-group {
    > * {
        margin-bottom: 40px;
        @include mobile {
            margin-bottom: 25px;
        }
    }
    :last-child {
        margin-bottom: 0;
    }
}

.description {
    p:first-of-type {
        margin-bottom: 10px;
        color: $primary-color;
    }
}

.underlay {
    position: absolute;
    width: 100%;
    padding: 70px 10%;
    background: #E5E5E5;
    display: grid;
    place-items: start;
    @include sm-tablet {
        padding: 50px 10%;
    }
    @include mobile {
        padding: 30px 10%;
    }
  }