@import '../../../../../../../global/styles/query.scss';

.addnote-modal.visible {
    display: block;
    position: relative;
    padding: 40px 80px;
    max-width: 480px;
    margin: 80px auto;

    @include mobile {
        padding: 40px 40px;
        margin: 60px 30px;
    } 

    form {
        width: 100%;
        Button {
            width: 100%;
        }
    }
    z-index: 100;
}

.addnote-modal {
    display: none;
}
