@import './global/styles/theme.scss';
@import './global/styles/base.scss';
@import './global/styles/layout.scss';

// html[data-theme='dark'] {
//   $primary-color: $n3-white;
//   $secondary-color: $accent-white;
//   $background: #26332D !global;
// }

// @if $dark-theme {
//   $primary-color: $n3-white;
//   $secondary-color: $accent-white;
//   $background: #26332D;
// }

.App {
  position: relative;
  box-sizing: border-box;
  color: $secondary-color;
  background: white;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.App-logo {
  cursor: pointer;
}

.large-text {
  font-size: 26px;
  color: $primary-color;
}

.bold {
  font-family: 'Airbnb Cereal App Book';
  font-weight: 900;
}

.medium-text {
  font-size: 18px;
  font-weight: 600;
}

.small-text {
  font-size: 14px;
}


.light {
  color: $secondary-color;
}

.profile-picture {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #C4C4C4;
  // margin: 20px 0;
  justify-content: center;
}

.backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000030;
  z-index: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
